<div class="container">
  <h1 class="text-center">All cocktails</h1>
  <% @cocktails.each do |cocktail| %>
  <div class="row">
   <div class="col-xm-12 col-md-12 col-lg-12">
     <ul class="list-group ">
      <li class="list-group-item text-center">

        <h2><%= cocktail.name %></h2>

            <a href = <%= cocktail_path(cocktail)%> ><%= image_tag cocktail.image%></a>

      </li>
    </ul>

  </div>
</div>
 <% end %>
</div>
